<h1>BuddyBot</h1>

<hr>

<h2>Mission List</h2>

<% if @missions.empty? then %>
  <p>No mission created.</p>
<% else %>
  <p>
    <table border="1">
      <thead>
        <tr>
          <th>Mission</th>
          <th>Difficulty</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @missions.each do |mission| %>
          <tr>
            <td><%= mission.body %></td>
            <td><%= difficulty_text mission.difficulty %></td>
            <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
            <td><%= link_to 'Close', mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>
<% end %>

<%= link_to 'New Mission', new_mission_path %><br>
<%= link_to 'Products', products_path %>
