<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<% if @user.purchased_products.purchased? @product %>
  You have already bought this.<br>
<% elsif @user.point < @product.price %>
  You don't have enough point.<br>
<% else %>
  <%= button_to 'Buy this!', purchase_path %>
<% end %>

<br>

<%= link_to 'Back', products_path %>
