<!DOCTYPE html>
<html>
<head>
  <title>BuddyBot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to 'BuddyBot', root_path %></h1>

<% if user_signed_in? %>
  <p>Welcome, <%= @user.name %> (<%= @user.point %> point) |
  <%= link_to "Profile", edit_user_registration_path %> |
  <%= link_to "Sign-out", destroy_user_session_path, method: :delete %>
  </p>
<% end %>

<hr>

<%= yield %>

</body>
</html>
