<!DOCTYPE html>
<html>
<head>
  <title>BuddyBot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <style>
  body {
    margin-top: 51px;
  }
  </style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'BuddyBot', root_path, :class => 'navbar-brand' %>
    </div>
  </div>
  <% if user_signed_in? %>
    <p>Welcome, <%= @user.name %> (<%= @user.point %> point) |
    <%= link_to "Profile", edit_user_registration_path %> |
    <%= link_to "Sign-out", destroy_user_session_path, method: :delete %>
    </p>
  <% end %>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
